
<div class="input map-input" id='map-input'>
  <div id="map-canvas" class="google-map"></div>
  <% @trip.restrictions.flatten.each do |r| %>
    <div id="controls_<%= r.id %>" class="data_container">
      <%= hidden_field_tag :latitude, r.latitude, :id => "placeLat_#{r.id}" %>
      <%= hidden_field_tag :longitude, r.longitude, :id => "placeLng_#{r.id}" %>
      <%= hidden_field_tag :radius, r.radius, :id => "placeRad_#{r.id}" %>
    </div>
  <% end if @trip.restrictions %>
  </div>
</div>


<% content_for :javascripts do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "view-map" %>
  <script type="text/javascript">
    $(window).load( function () {
      calcRoute(JSON.parse('<%=  @trip.start_point.to_js %>'), 
                JSON.parse('<%= @trip.end_point.to_js %>'), 
                JSON.parse('[<%= @trip.stopps.map(&:to_js).join(',').html_safe %>]'));
    });
  </script>
<% end %>

