<tr>
  <td>
    <% if current_user.is_main? %>
      <input type="checkbox" id="<%= trip.id %>", class="all", title="There is an alert set for this user. You can manage alert setting under Set Alerts"/>
    <% end %>
  </td>
  <td width="15">
    <%= image_tag "icons/#{trip.status}.png", :width => 15, :height => 16, :alt => "on" %>
  </td>
  <td><%= trip.start_point.time_with_timezone(trip.timezone).strftime '%b. %d, ‘%y' rescue 'None' %></td>
  <td>
    <div class="status">
      <div class="whos"><%= link_to_if can?(:update, trip.device), trip.device.try(:display_name), edit_textbuster_path(trip.device) %></div>
    </div>
  </td>
  <td>
    <div class="ttl"><%= trip.phone.user.name rescue nil %></div>
    <div class="device"><%= trip.phone.name_with_imei rescue nil %></div>
  </td>
  <td>
    <%= trip.start_point.time_with_timezone(trip.timezone).strftime '%I:%M %p' rescue 'None' %> - <%= trip.end_point.time_with_timezone(trip.timezone).strftime '%I:%M %p' rescue 'None' %>
  </td>
  <td>
    <div class="st-on"><%= trip.distance %> / <%= trip.average_speed %></div>
  </td>
  <td>
    <div class="st-on">
      <%= link_to "#{trip.start_point.address} - #{trip.end_point.address}", trip_path(trip) %>
    </div>
  </td>
</tr>

