<table class="dashboard-table table table-bordered">
      <tbody>
        <tr>
          <th width="140">Distance</th>
          <td><%= @trip.distance %> mi</td>
        </tr>
        <tr>
          <th>Average Speed</th>
          <td><%= @trip.average_speed %> mph</td>
        </tr>
        <tr>
          <th>Start Point</th>
          <td><%= @trip.start_point %></td>
        </tr>
        <tr>
          <th>Start date</th>
          <td><%= @trip.start_point.time_with_timezone.strftime("%d %b %Y") %></td>
        </tr>
        <tr>
          <th>Start time</th>
          <td><%= @trip.start_point.time_with_timezone.strftime("%X") %></td>
        </tr>
        <tr>
          <th>End Point</th>
          <td><%= @trip.end_point %></td>
        </tr>
        <tr>
          <th>Duration</th>
          <td><%= distance_of_time_in_words(@trip.start_point.time_with_timezone, @trip.end_point.time_with_timezone)) %></td>
        </tr>
        <tr>
          <th>Alert violations</th>
          <td>
            <%= @trip.alert_histories.map {|alert_history| alert_history.short_description}.join(', ') %>
          </td>
        </tr>
        <tr>
          <th>Route</th>
          <td><%= render :partial => 'route', :object => @trip %></td>
        </tr>
      </tbody>
    </table>

