<%= semantic_form_for [:admin, @phone] do |f| %>
  <%= f.inputs "Phone Details" do %>
    <%= f.input :name %>
    <%= f.input :user, :collection => (@phone.user.family.try(:members) || [@phone.user]), :include_blank => false %>
    <li class="check_boxes optional" id="phone_abilities_input">
      <fieldset>
        <legend class="label"><label>Abilities</label></legend>
        <ol>
          <% Phone::ABILITIES.each do |a| %>
            <li><%= check_box_tag "phone[abilities][]", a, f.object.abilities?(a) %> <%= a %></li>
          <% end %>
        </ol>
      </fieldset>
    </li>
    <%= f.input :devices, :as => :check_boxes %>
  <% end %>
  <% f.buttons do %>
    <%= f.submit "Update" %>
  <% end %>
<% end %>
