<tr>
  <td><% if can? :destroy, phone %><input type="checkbox" id="<%= phone.id %>", class="all", title="Check to remove"/><% end %></td>
  <td><img src="images/icons/alert.png" width="19" height="19" alt="alert" /></td>
  <td>
    <div class="ttl"><%= phone.user.name %></div>
    <div class="device"><%= link_to_if can?(:update, phone), phone.name, edit_phone_path(phone) %></div>
    <div class="tech"><%= phone.abilities.join ', ' %></div>
  </td>
  <td>
    <%= form_for phone, :remote => true do |f| %>
      <% phone.alerts.each do |a| %>
        <%= hidden_field_tag "phone[alert_ids][]", a.id %>
      <% end %>
      <% @family.devices.each do |d| %>
        <p><label class="checkbox">
          <%= check_box_tag "phone[device_ids][]", d.id, f.object.devices.include?(d), :disabled => !can?(:update, phone) %>
          <%= d.display_name %>
        </label></p>
      <% end %>
    <% end %>
  </td>
  <td>
    <% last_pos = phone.last_position %>
    <% if last_pos %>
      <div class="date"><%= last_pos.created.strftime '%b. %d, ‘%y'%></div>
      <div class="time"><%= last_pos.created.strftime '%R'%></div>
      <div class="addr"><%= last_pos.location.address %></div>
    <% else %>
      <div class="addr">None</div>
    <% end %>
  </td>
  <td>&mdash;</td>
  <td>
    <%= form_for phone, :remote => true do |f| %>
      <% phone.devices.each do |d| %>
        <%= hidden_field_tag "phone[device_ids][]", d.id %>
      <% end %>
      <% @family.authored_alerts.each do |alert| %>
        <p><label class="checkbox">
          <%= check_box_tag "phone[alert_ids][]", alert.id, f.object.alerts.include?(alert), :disabled => !can?(:update, phone) %>
          <%= alert.name || alert.event_type %>
        </label></p>
      <% end %>
    <% end %>
  </td>
</tr>

