<%= form_for @phone do |f| %>
<table class="dashboard-table table table-bordered">
  <thead>
    <tr>
      <th colspan="2"><%= @phone.user.name %>'s phone <%= "| " << @phone.name if @phone.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Name</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>Abilities</th>
      <td>
        <% [:GPS, :Bluetooth].each do |ability| %>
          <div>
            <%= check_box_tag "phone[abilities][]", ability, f.object.abilities?(ability) %>
            <%= ability %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Textbusters list</th>
      <td>
        <% @family.devices.each do |device| %>
          <div>
            <%= check_box_tag "phone[device_ids][]", device.id, f.object.devices.include?(device) %>
            <%= device.name || "Textbuster ()" %>
          </div>
        <% end %>
      </td>
    </tr> 
    <tr>
      <th> Alerts list </th>
      <td>  
        <% @family.authored_alerts.each do |alert| %>
          <div>
          <%= check_box_tag "phone[alert_ids][]", alert.id, f.object.alerts.include?(alert) %>
          <%= alert.event_type %>
          </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<div class="modal-footer">
  <%= f.submit :class => 'btn' %>
</div>
<% end %>


