<tr>
  <td><% if can? :destroy, device %><input type="checkbox" id="<%= device.id %>", class="all", title="Check to remove"/><% end %></td>
  <td><img src="images/icons/alert.png" width="19" height="19" alt="alert" /></td>
  <td>
    <div class="ttl"><%= link_to_if can?(:update, device), device.name, edit_textbuster_path(device) %></div>
  </td>
  <td>
    <% @family.phones.each do |phone| %>
      <div class="status">
        <div class="ttl"><%= phone.user.name %></div>
        <div class="num"><%= link_to_if can?(:update, phone), phone.name, edit_phone_path(phone) %></div>
        <% status = device.phones.include?(phone) ? :enabled : :disabled %>
        <div class="st <%= 'st-d' if status.eql? :disabled %>"><%= status.to_s.capitalize %></div>
      </div>
    <% end %>
  </td>
  <td>
    <% last_pos = device.last_position %>
    <% if last_pos %>
      <div class="date"><%= last_pos.created_at.strftime '%b. %d, ‘%y'%></div>
      <div class="time"><%= last_pos.created_at.strftime '%R'%></div>
      <div class="addr"><%= last_pos.address %></div>
    <% else %>
      <div class="addr">None</div>
    <% end %>
  </td>

</tr>


