<div class="panel">
  <%= button_to "Edit", edit_textbuster_path(@device), :method => :get, :style => "float:right" %>
  <h3>Textbuster settings</h3>
  <div class="panel_contents">
    <div class='attributes_table'>
  <table border='0' style='width:75%;'>
    <tbody>
      <tr>
        <th>Description</th>
        <td><%= @device.name %></td>
      </tr><tr>
        <th>MAC address</th>
        <td><%= @device.mac %></td>
      </tr><tr>
        <th>Phone list</th>
        <td>
          <% @family.phones.each do |phone| %>
            <div>
              <%= check_box_tag "device[phone_ids][]", phone.id, @device.phones.include?(phone), :disabled => true %>
              <%= phone.name || phone.user.name %>
            </div>
          <% end %>
        </td>
      </tr>
     </tbody>
  </table>
      </div> 
  </div>
</div>

