<div class="panel">
  <%= button_to "Edit", edit_phone_path(@phone), :method => :get, :style => "float:right" if can? :update, @phone %>
  <h3><%= @phone.user.name %>'s phone <%= "| " << @phone.name if @phone.name %> </h3>
  <div class="panel_contents">
    <div class='attributes_table'>
      <table border='0'>
        <tbody>
          <tr>
            <th>Last log sent</th>
            <td><%= @phone.events.first.try(:created_at) || 'Never' %></td>
          </tr>
          <tr>
            <th>Last position</th>
            <td>
              <% last_pos = @phone.last_position %>
              <% if last_pos %>
                <!--%= last_pos.geolocate %-->
                <% @location = Location.new(:lat => last_pos.lat, :lng => last_pos.lng) %>
                <%= render :partial => 'locations/map' %>
              <% else %>
                None
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Phone abilities</th>
            <td><%= @phone.abilities.join(', ') %></td>
          </tr>
          <tr>
            <th>Warnings</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render :partial => 'devices/list', :object => @family.devices %>
<%= render :partial => 'alerts/list', :object => @family.phones.map(&:alerts).flatten %>

<%= button_to "Show events", events_path(:phone_id => @phone.id), :method => :get if can? :read, Event %>
