<tr>
  <td><div class="ttl"><%= image_tag "icons/boss.png", :title => 'The main Account Manager' if member.is_main? %> <%= member.name %></div></td>
  <td><div class="num"><%= member.email %></div></td>
  <td><div class="num"><%= member.aux_emails %></div></td>
  <td><div class="num"><%= member.phone %></div></td>
</tr>

