<%= form_for @family do |f| %>
<table class="dashboard-table table table-bordered">
  <thead>
    <tr>
      <th>x</th>
      <th>Name</th>
      <th>Email</th>
      <th>Aux emails</th>
      <th>Phone</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :members do |m| %>
     <%= render :partial => 'edit_line', :locals => {:form => m} %>
    <% end %>
    <% if can? :create, User %>
      <tr>
        <td colspan="6" style="text-align:right;"><%= link_to "Add parent", "#", :id => Role.by_name('Parent').first.id, :class => :add %></td>
      </tr>     
    <% end %>
  </tbody>
</table>

<div class="dashboard-actions">
  <%= f.submit "Save changes", :class => 'btn' %>
</div>

<% end %>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function() { 
      $("a.add").click(function() {
        var role = this.id;
        var trs = $(this).parents("table").find("tr.member");
      
        var tr = trs.last().clone();
        $.each($(tr).find("td"), function(i, td) {
          $(td).find("input").val("").attr('checked', false);
          $(td).find("select").val(role);
        
          input = $(td).find("input");
          if (input.length == 0) input = $(td).find("select");

          new_val = $(input).attr("name").replace(/attributes\]\[\d+\]/, 'attributes][' + trs.length + ']' );
          input.attr('name', new_val);
        });
      
        $(this).parents("tr").before(tr);
        return false;
      });
    });
  </script>
<% end %>
