<table class="dashboard-table table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Aux emails</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody><%= render :partial => 'member', :collection => @family.parents %></tbody>
</table>

<div class="dashboard-actions">
  <a href="#pwd" data-toggle="modal" class="btn">Change Password</a>
  <% if can? :create, User %>
    <%= link_to 'Add new parent', new_parent_path, :class => "btn", :remote => true %>
  <% end %><% if can? :update, @family %>
    <%= link_to "Edit members", edit_family_path(@family), :class => "btn" %>
  <% end %>
</div>


<script type="text/javascript">
  function showNewParent() {
     $('#new_parent').removeClass('hide');
     $('#new_parent').modal('show');    
  }
</script>

<%= javascript_tag '$(document).ready(function(){showNewParent();})' if flash[:action] == :new %>

<% content_for :modals do %>
  <%= render :file => "/devise/passwords/edit" %>
<% end %>
