<table class="dashboard-table table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Aux emails</th>
      <th>Phone</th>
      <th>Sms</th>
    </tr>
  </thead>
  <tbody><%= render :partial => 'member', :collection => @family.parents %></tbody>
</table>

<div class="dashboard-actions">
  <%= link_to 'Change Password', edit_password_path, :class => 'btn', :remote => true %>
  <% if can?(:create, User) %>
    <%= link_to 'Add new Account Manager', new_parent_path, :class => "btn", :remote => true %>
  <% end %>
  <% if can?(:update, Family) %>
    <%= link_to "Edit members", edit_family_path(@family), :class => "btn" %>
  <% end %>
</div>

<script type="text/javascript">
  function showNewParent() {
     $('#new_parent').removeClass('hide');
     $('#new_parent').modal('show');    
  }
  $('input[name="is_sms"]').change(function(){
    $.ajax({
      type:'PUT',
      url:"<%= parent_url %>",
      data: {'parent_id':$(this).val(), 'parent':{'is_sms':$(this).is(':checked')}},
      dataType: 'json',
      success: function(data, textStatus, jqXHR) {
        if ((data['user']['is_sms'] !== $(this).is(':checked'))) {
          $(this).attr('checked',data['user']['is_sms']);
        }
      }
    })
  })
</script>

<%= javascript_tag '$(document).ready(function(){showNewParent();})' if flash[:action] == :new %>
