<ul class="nav nav-tabs">
  <% if can? :read, Event %>
    <li class="<%= menu_item_class('trips/events') %>"><%= link_to menu_item_label(:trips, "Event"), trips_path %></li>
  <% end %>
  <% if can? :read, Phone %>
    <li class="<%= menu_item_class('phones') %>"><%= link_to menu_item_label(:phones, "Phone"), phones_path %></li>
  <% end %>
  <% if can? :read, Device %>
    <li class="<%= menu_item_class('devices') %>"><%= link_to menu_item_label(:devices, "Device"), textbusters_path %></li>
  <% end %>
  <% if can? :read, Alert %>
    <li class="<%= menu_item_class('alerts') %>"><%= link_to menu_item_label(:authored_alerts, "Alert"), alerts_path %></li>
  <% end %>
  <% if can? :read, Family %>
    <li class="<%= menu_item_class('families') %>"><%= link_to menu_item_label(:parents, "Family"), family_path(@family || 1) %></li>
  <% end %>

</ul>

