<tr>
  <td><%= image_tag "icons/on.png", :width => 15, :height => 16, :alt => "on" %></td>
  <td><%= event.time.strftime '%b. %d, ‘%y'%></td>
  <td>
    <div class="status">
      <div class="whos"><%= link_to_if can?(:update, event.device), event.device.display_name, edit_textbuster_path(event.device) %></div>
    </div>
  </td>
  <td>
    <div class="ttl"><%= event.phone.user.name %></div>
    <div class="device"><%= link_to_if can?(:update, event.phone), event.phone.name, edit_phone_path(event.phone) %></div>
  </td>
  <td>
    <%= event.type %>
  </td>
</tr>

