<%= render :partial => 'events/filters' %>
<%= render :partial => 'events/submenu' %>

<table class="dashboard-table table table-bordered tablesorter">
  <thead>
    <tr>
      <th class="mark"></th>
      <th>Date</th>
      <th>Textbuster</th>
      <th>Phone</th>
      <th>Event type</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "event", :collection => @events %>
  </tbody>
</table>            
<div class="dashboard-actions">
  <div class="pull-left"><a href="#" class="lnk">Show More Results</a></div>
  <div class="pull-right"><%= paginate @events if @events %></div>
  <br clear="all" />
</div>

<% content_for :javascripts do %>
    <%= javascript_include_tag "jquery.tablesorter.min.js" %>
    <script>
      $(document).ready(function() {
        
        $("table.tablesorter").tablesorter({
          headers: { 
            0:{sorter: false}, 
            4:{sorter: false}
          }
        }); 
      });
    </script>
<% end %>

