<tr>
  <td><% if can? :destroy, alert %><input type="checkbox" id="<%= alert.id %>", class="all", title="Check to remove"/><% end %></td>
  <td>
    <div class="ttl"><%= link_to_if can?(:update, alert), alert.name||alert.event_type, edit_alert_path(alert) %></div>
  </td>
  <td><%= alert.event_type %></td>
  <td><%= alert.conditions %></td>
  <td>
    <% @family.phones.each do |phone| %>
      <div class="status">
        <div class="ttl"><%= phone.user.name %></div>
        <div class="num"><%= link_to_if can?(:update, phone), (phone.name || 'noname'), edit_phone_path(phone) %></div>
        <% status = alert.phones.include?(phone) ? :enabled : :disabled %>
        <div class="st <%= 'st-d' if status.eql? :disabled %>"><%= status.to_s.capitalize %></div>
      </div>
    <% end %>
  </td>
  <td>
    <% @family.parents.each do |parent| %>
      <div class="status">
        <div class="ttl"><%= parent.name %></div>
        <% status = alert.users.include?(parent) ? :enabled : :disabled %>
        <div class="st <%= 'st-d' if status.eql? :disabled %>"><%= status.to_s.capitalize %></div>
      </div>
    <% end %>
  </td>
</tr>

