<%= form_for @alert do |f| %>
  <table class="dashboard-table table table-bordered">
    <tr>
      <th class="span2">Name</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%= f.enum_select :event_type %></td>
    </tr>
    <tr class="alert_conditions">
      <th>Conditions</th>
      <td>
        <%= content_tag :div, f.object.errors[:restrictions], :class => 'alert alert-error' if f.object.errors[:restrictions].present? %>
        <div class="time">
          <span>From</span> <%= f.text_field :restricted_time_start, :placeholder => 'Restricted time start', :alt => 'time' %>
          <span>till</span> <%= f.text_field :restricted_time_end, :placeholder => 'Restricted time end', :alt => 'time' %>
          <span class="error"><br><%= "Time format is invalid" if f.object.time_errors.present? %></span>
        </div>
        <div class="map">
          <%= render :partial => 'restrictions/map', :locals => {:f => f} %>
        </div>
        <div class="speed">
          <%= f.text_field :speed, :placeholder => "Speed restriction > #{Alert.min_speed}" %>
        </div>
      </td>
    </tr>
    <tr>
      <th>Phone list</th>
      <td>
        <% @family.phones.each do |phone| %>
          <div>
            <%= check_box_tag "alert[phone_ids][]", phone.id, f.object.phones.map {|p| p.id}.include?(phone.id) %>
            <%= phone.name || phone.user.name %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Contacts
      </th>
      <td>
        <% @family.parents.each do |parent| %>
          <div>
            <%= check_box_tag "alert[user_ids][]", parent.id, f.object.users.map {|p| p.id}.include?(parent.id) %>
            <%= parent.name || parent.email %>
          </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal-footer">
  <%= f.submit :class => "btn" %>
</div>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'field_mask' %>
  <script>

    function updateAlert() {
      $("div.time, div.speed, div.map").each(function(){$(this).addClass('invisible')});
      switch($("select#alert_event_type").val()) {
        case 'Leaving area':
          $("tr.alert_conditions .map").toggleClass('invisible');
          break;
        case 'Driving at a specific time':
          $("tr.alert_conditions .time").toggleClass('invisible');
          break;
        case 'Speed restriction':
          $("tr.alert_conditions .speed").toggleClass('invisible');
      }
    }

    $(document).ready(function() { 
      updateAlert();
      $('input:text').setMask();    
      $("select#alert_event_type").live("change", function() {
        updateAlert();    
      });
    });
  </script>
<% end %>

