<%= form_for(@parent, :url => parents_path, :html => {:id => 'new_parent', :class => "modal modal_small hide form-vertical"}, :remote => true) do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3 id='header'>Add new Account Manager</h3>
  </div>
  
  <div class="modal-body">  
  <div class="control-group">
    <label class="convtrol-label" for="f1">Primary email:</label>
    <div class="controls">
      <%= f.email_field :email, :class => 'span4' %>
    </div>
    
    <label class="convtrol-label" for="f1">Name:</label>
    <div class="controls">
      <%= f.text_field :name, :class => 'span4' %>
    </div>

    <label class="convtrol-label" for="f1">Password:</label>
    <div class="controls">
      <%= f.password_field :password, :class => 'span4', :placeholder => 'If left blank, no ability to login' %>
    </div>
    
    <label class="convtrol-label" for="f1">Password confirmation:</label>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'span4' %>
    </div>

   <label class="convtrol-label" for="f1">Phones:</label>
    <div class="controls">
      <%= f.text_field :phone, :class => 'span4' %>
    </div>
  </div>
</div>

<div class="modal-footer">
  <%= f.submit :class => "btn" %>
</div>
<% end %>

