<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TextBuster®</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag "bootstrap", "style" %>
    <%= javascript_include_tag 'jquery.qtip.js', 
      'jquery-1.7.1.min', 
      'jquery_ujs', 
      'bootstrap.min', 
      'application' 
    %>  

    <!-- fav and touch icons -->
    <!-- 
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
    
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render :partial => "users/guest_menu" %>
    
    <div class="middle">
      <div class="entry-login container">

        <div class="row">
          <div class="span6 t-centered">
            <%= image_tag "app.png", :alt => "", :width => 273, :height => 537 %>
          </div>
        
          <div class="span4">
            <h1><%= image_tag "applogo.png", :width => 75, :height => 74 %></h1>
            <%= yield %>
          </div>
        </div>
        
      </div><!-- /container -->
    </div><!-- /middle -->

    <%= render :partial => "application/footer" %>

    <%= yield :javascripts %>
  </body>
</html>
